* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montrrat', sans-rif;
  font-family: 'Mulish', sans-rif;
  font-family: 'Open Sans', sans-rif;
  font-family: 'Poppins', sans-rif;
  font-family: 'Red Hat Display', sans-rif;
}

.section-1 {
  background: url("image2.jpg");
  width: 1370px;
  height: 650px;
}

.orange-round {
  width: 900px;
  height: 900px;
  background-color: #FE724C;
  border-radius: 100%;
  position: absolute;
  left: 530px;
  top: -320px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 45px;
  left: 180px;
}

header .top-logo {
  font-weight: 900;
  font-size: 45px;
  line-height: 45px;
  color: #FFFFFF;
  margin-right: 290px;
  font-family: 'Montrrat', sans-rif;
  font-family: 'Mulish', sans-rif;
  font-family: 'Open Sans', sans-rif;
  font-family: 'Poppins', sans-rif;
  font-family: 'Red Hat Display', sans-rif;
}

header .top-logo:hover {
  color: #FE724C;
}

header .top-logo span {
  color: #FE724C;
}

header .top-logo span:hover {
  color: #FFFFFF;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 30px;
  font-family: 'Montrrat', sans-rif;
  font-family: 'Mulish', sans-rif;
  font-family: 'Open Sans', sans-rif;
  font-family: 'Poppins', sans-rif;
  font-family: 'Red Hat Display', sans-rif;
}

header .header-container a:hover {
  color: orange;
}

header .header-btn button {
  width: 128px;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FE724C;
  border: none;
}

header .header-btn button:hover {
  background-color: #fc977b;
  color: #FFFFFF;
}

main {
  color: #FFFFFF;
  position: absolute;
  top: 220px;
  left: 230px;
}

main h1 {
  font-weight: 505;
  font-size: 46px;
  line-height: 54px;
  font-family: 'Montserrat', sans-serif;
}

main p {
  font-size: 17px;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0px 35px;
}

main .brauser-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .brauser-container .brz-box {
  width: 174px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
}

main .brauser-container .brz-box a {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
}

main .brauser-container .app-store {
  background-color: #FE724C;
  border: 1px solid #FE724C;
  margin-right: 15px;
}

main .brauser-container .app-store:hover {
  background-color: #fc977b;
}

main .brauser-container .app-store .apple {
  margin-right: 7.2px;
}

main .brauser-container .google-play {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .brauser-container .google-play:hover {
  background-color: #FE724C;
  border: 1px solid #FE724C;
}

main .brauser-container .google-play .google {
  margin-right: 7.5px;
}

.burger {
  position: absolute;
  right: 295px;
  bottom: 78px;
}

.burger .screen {
  width: 190px;
  height: 414px;
  border-radius: 20px;
}

.phone-food {
  position: absolute;
  right: 280px;
  bottom: 35px;
}

.phone-food .phone {
  width: 220px;
  height: 500px;
}

.section-2 {
  width: 1370px;
  padding-left: 140px;
}

.section-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2-container .img-container .top-img {
  margin: 70px 0px 20px;
}

.section-2-container .img-container .top-img img {
  margin-right: 20px;
}

.section-2-container .img-container .btn-img {
  position: relative;
}

.section-2-container .img-container .btn-img .btn-left-img {
  position: absolute;
  top: 0px;
}

.section-2-container .img-container .btn-img .btn-right-img {
  margin-left: 188px;
}

.section-2-container .text-container {
  margin: 110px 0px;
  padding-left: 20px;
}

.section-2-container .text-container h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 22px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.section-2-container .text-container .line {
  margin-top: 20px;
  width: 42px;
  height: 3px;
  background-color: #EFCA08;
}

.section-2-container .text-container .bold-text {
  margin: 22px 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.section-2-container .text-container .normal-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
}

.section-3 {
  background-color: #FE724C;
  padding-top: 110px;
  position: relative;
}

.section-3-container {
  margin-left: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-3-container h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 22px;
  color: #FFFFFF;
}

.section-3-container .section-3-line {
  margin: 24px 0px 100px;
  width: 63px;
  height: 2px;
  background: #FFFFFF;
}

.section-3-container .box-container .section-3-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  color: #FFFFFF;
}

.section-3-container .box-container .section-3-box .section-3-round {
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  border-radius: 100%;
  margin-right: 35px;
}

.section-3-container .box-container .section-3-box .section-3-round img {
  margin: 30px 35px;
  width: 30px;
  height: 38px;
}

.section-3-container .box-container .section-3-box p {
  margin-top: 10px;
}

.pizza-container {
  margin-top: 30px;
  position: absolute;
  top: 110px;
  right: 200px;
}

.pizza-container .iphone {
  position: absolute;
  right: 0px;
}

.pizza-container .pizza {
  position: absolute;
  width: 268px;
  height: 502;
  top: 19px;
  right: 20px;
}

.section-4 {
  width: 1370px;
  padding: 70px;
}

.section-4-container h4 {
  font-weight: bold;
  font-size: 40px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.section-4-container .section-4-line {
  width: 63px;
  height: 4px;
  background-color: #FE724C;
  margin: 22px 580px 42px;
}

.section-4-container .Phone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4-container .Phone-container .ellipse {
  width: 40px;
  height: 40px;
  border: 1px solid #939393;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  padding: 7px 6px;
  margin: 0px 40px;
}

.section-4-container .Phone-container .iphones {
  margin-right: 60px;
}

.grey-container {
  background-color: #F4F5F7;
}

.grey-container .section-5-text-container h5 {
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #000000;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 8px 0px;
  font-family: 'Montserrat', sans-serif;
}

.grey-container .section-5-text-container p {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 8px 0px;
}

.grey-container .section-5-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 110px;
}

.grey-container .section-5-box-container .big-container {
  padding-top: 20px;
}

.grey-container .section-5-box-container .big-container .small-container {
  width: 350px;
  height: 192px;
  background-color: #FFFFFF;
  margin-right: 35px;
  padding: 23px 0px;
  text-align: center;
  border-radius: 10px;
}

.grey-container .section-5-box-container .big-container .small-container h4 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
}

.grey-container .section-5-box-container .big-container img {
  border-radius: 100%;
  margin: 25px 150px 10px;
}

.grey-container .section-5-box-container .big-container .jane {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #18191F;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 130px;
}

.grey-container .section-5-box-container .big-container .ceo {
  font-size: 14px;
  line-height: 24px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #474A57;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 110px;
}

.grey-container .three-ellipes {
  margin: 40px 650px 60px;
}

.last-container {
  background-color: black;
  padding: 90px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
}

.last-container .services {
  margin: 22px 0px 12px;
}

.last-container .services a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 20px;
}

.last-container .services a:hover {
  color: #747372;
}

.last-container .get-app {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #D9DBE1;
}

.last-container .last-apple {
  margin-right: 13px;
}

body {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */