$orange: #FE724C;
$white: #FFFFFF;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montrrat', sans-rif;
    font-family: 'Mulish', sans-rif;
    font-family: 'Open Sans', sans-rif;
    font-family: 'Poppins', sans-rif;
    font-family: 'Red Hat Display', sans-rif;
}

@import "section-1";
@import "section-2";
@import "section-3";
@import "section-4";


body {
    width: 100%;
    height: auto;
    
}