.section-1 {
    width: 1570px;
    height: 820px;
    background: url("image2.jpg");

    .big-orange-round {
        width: 1000px;
        height: 1000px;
        background-color: $orange;
    }
}